:root{
    --cor1:#223A59;
    --cor2:#192A40;
    --cor3:#778BA6;
    --cor4:#C2D7F2;
    --cor5:#ADC0D9;

    --fonte-de-conteúdo:'Open Sans', serif;
    --fonte-de-destaque:'Merriweather', helvetica ,sans-serif;
    --fonte-de-titulo:'Quicksand', sans-serif;
    
}