*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor1:#223A59;
    --cor2:#192A40;
    --cor3:#778BA6;
    --cor4:#C2D7F2;
    --cor5:#ADC0D9;

    --fonte-de-conteúdo:'Open Sans', serif;
    --fonte-de-destaque:'Merriweather', helvetica ,sans-serif;
    --fonte-de-titulo:'Quicksand', sans-serif;
    
}
header{
    background-color: black;
    text-align: center;
    color: white;
}

header > h1{
    padding-top: 50px;
}
header > p{
    padding-bottom: 50px;
}

header a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header > nav > a:hover{
    text-decoration: underline;
    background-color: #3566af;
    color: black;
}
body{
    background-color: var(--cor1);
    height: 95vh;
    background-image: url('image/crap.png');
    background-image: url('image/crap2.png');
    background-size: 100px;
    background-repeat: repeat-x;
    background-position: center left;
}
main{
    width: 968px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

main > h2{
    font-size: 2em;
    background-image: linear-gradient( to right, var(--cor4), transparent);
    padding: 5px;
    
    
}

main > p{
    line-height: 2em;
    font-size: 20px;
    padding: 10px;
    text-align: justify;
}
div.box{
    width: 300px;
    height: 200px;
    margin:10px;
    display: inline-block;
    margin-top: 30px;
    border-radius: 10px;
    background-position: center center;
    background-size: cover;
}

div.box > p{
    background-color: white;
    font-size: 20px;
}

div.box > p > a{
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

div.box > p > a:hover{
    background-image: linear-gradient( to right, #d9ff00, transparent);
    padding: 2px;
}

div#box1{
    background-color: burlywood;
    background-image: url('image/friends-500x280.jpeg');
}

div#box2{
    background-color: yellow;
    background-image: url('image/collaboration-509x280.jpeg');
}



div#box3{
    background-color: yellowgreen;
    background-image: url("image/online-filter-1-538x280.jpg");
}

div#box4{
    background-image: url('image/vpn.jpg');
}

div#box5{
    background-image: url('image/phonefeat2-538x280.jpg');
}

div#box6{
    background-image: url('image/image.jpg');
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    
}